html {
  background-color:#EFF0F1;
}

main {
  padding-top: 50px;
}

section {
  height:500px;
  overflow: auto;
}

ul {
  color:black;
  margin-right:15%;
  margin-left:15%;
  text-align:center;
  padding-right:10%;
  padding-left:10%;
  font-family:arial; 
}

ul>fas {
  color:black;
}

li {
  list-style:none;
}

button {
  height:50px;
}

/* nav{
  overflow:hidden;
  position:fixed;
} */

h4 {
  text-decoration:none;
  
}

h6 {
  text-transform: capitalize;
  font-size:14px;
  color:blue;
  font-variant: small-caps ;
}

i {
  z-index:10;
  text-align:left;
  color:black;
}

.cardButtons{
  display:flex;
  justify-content:space-around;
  width: 100%;
}

.topNav{
  position: fixed;
  width: 100%;
  /* margin-top:-20px; */
  z-index: 10;
}

.fab{
  color:white;
  font-size: 40px;;
}
.fab>.feedBirdText{
  visibility:hidden;
}
.fab:hover .feedBirdText{
  visibility: visible;
}

.bottomNav {
  position: fixed;
  bottom:0;
  width: 100%;
}

.fas{
color:white;
}
.fas>.playSymbolText{
  visibility:hidden;
}
.fas:hover .playSymbolText{
  visibility: visible;
}
.fas>.loginText{
  visibility:hidden;
}
.fas:hover .loginText{
  visibility: visible;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
}

.fa-hand-spock {
  color:black;
}

.tablet{
  display:none;
}

.footer-logo {
  font-size: 1.5em;
}

#name {
  font-size:16px;
  text-align:left;
  margin:0;
  text-transform: capitalize;
  font-weight: 900;
}

h6 {
  text-transform: capitalize;
  font-size:14px;
  color:blue;
  font-variant: small-caps ;
}

.desktop{
  display:none;
  
  width:80%;
}

.desktopContainer{
  display:none;
}



@media(min-width:321px){

  .tablet{
    display: block;
    margin-left:10%;
    margin-right:10%;
    border: 2px;
    border-color: rgba(red, green, blue, alpha)
  }
  
}

@media (min-width :1024px){
  .desktop{
    display:flex;
    flex-direction: column;
    width: 50%;
   
    overflow:auto;
  }

  .mobile{
    display:none;
  }

  .desktopContainer{
    padding-top:100px;
    display:flex;
    height:700px;
  }

 
}